@model BusinessResourceCenter.Models.AllDashInfo

@{
    ViewBag.Title = "Dashboard";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script>
    var requestTimes = [];
    var requestAmts = [];
    $.ajax({
        url: "dashboard/GetBusyTime",
        type: "GET",
        async: false,
        success: function (result) {
            for (var i = 0; i < result.length; i++) {
                var obj = result[i];

                if (obj.starthour < 12) {
                    if (obj.starthour == 0) {
                        requestTimes.push("12:00AM");
                    } else {
                        requestTimes.push(obj.starthour + ":00AM");
                    }
                } else {
                    if ((obj.starthour - 12) == 0) {
                        requestTimes.push("12:00PM");
                    } else {
                        requestTimes.push((obj.starthour - 12) + ":00PM");
                    }
                }
                requestAmts.push(obj.starthourcount);
            }
        }
    });

    var barChartData = {
        labels: requestTimes,
        datasets: [{
            label: 'Workflows Created By Hour',
            backgroundColor: "#FF0000",
            borderColor: "#000000",
            borderWidth: 1,
            data: requestAmts
        }]
    };

    window.onload = function () {
        var ctxbar = document.getElementById("busytimecanvas").getContext("2d");
        window.myBar = new Chart(ctxbar, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: ''
                }
            }
        });

        //get open workflows

        //get working workflows

        //get average closing time for all workflows

        //check to see if there are new workflows. - Pop a message to the screen showing all new workflows since last check


    };

    function GetOpenWorkflows()
    {
        $.ajax({
            url: "dashboard/getOpenWorkflows",
            type: "GET",
            async: false,
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var obj = result[i];
                }
            }
        });
    }


</script>
<style tyep="text/css">
    .threed {
        font-size: 50px;
        text-shadow: 3px 5px 10px #000;
    }
</style>

<h2>DashBoard</h2>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3>Open Workflows</h3>
            <table class="table">
                <tr>
                    <th>
                        Workflow Number
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Requestor Name
                    </th>
                    <th>
                        Created Date
                    </th>
                    <th>
                        Deadline
                    </th>
                </tr>

                @foreach (var item in Model.ViewAllOpenWorkflows)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.wfNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.wfTitle)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Requestor)</td>
                        <td>@Html.DisplayFor(modelItem => item.createddate)</td>
                        <td>@Html.DisplayFor(modelItem => item.deadline)</td>
                    </tr>
                }
            </table>
            <h3>Working Workflows</h3>
            <table class="table">
                <tr>
                    <th>
                        Workflow Number
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Requestor Name
                    </th>
                    <th>
                        Created Date
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        User
                    </th>
                </tr>

                @foreach (var item in Model.workingworkflows)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.wfNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.wfTitle)
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Requestor)</td>
                        <td>@Html.DisplayFor(modelItem => item.createddate)</td>
                        <td>@Html.DisplayFor(modelItem => item.deadline)</td>
                        <td>@Html.DisplayFor(modelItem => item.participant)</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-5">
            <h3>Avg. Closing Time</h3>
            <div id="avgclosingtime" class="threed">
                @{ var daysworked = @Model.avgclosetime / 24; }
                @daysworked Days
            </div>
            <h3>Workflows Created By Hour</h3>
            <canvas id="busytimecanvas"></canvas>

        </div>
    </div>
</div>
