@model IEnumerable<BusinessResourceCenter.Models.vAllWFLastStatusLists>
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
</script>

<script>

    $(document).ready(function () {
        $('#wflist').DataTable({
            "iDisplayLength": 25, "bFilter": false, "lengthChange": false,
            columnDefs: [{ orderable: false, targets: [0] }]
        })
    });

</script>
<div class="col-md-12">
    <table id="wflist" class="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Title
                </th>
                <th>
                    Created Date
                </th>
                <th>
                    DeadLine
                </th>
                <th>Requestor</th>
                <th>Submitter</th>
            </tr>
        </thead>
        <tbody>
            @{ if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.wfNumber.ToString(), "edit", new { id = item.wfNumber })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.wfTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createddate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.deadline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Requestor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Submitter)
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>